/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Macondo&family=Oleo+Script+Swash+Caps&family=Signika+Negative:wght@500;600&display=swap');

:root{
    --primary-color: #60a5fa;

--neutral-color: #525252;

--gray-color: #e5e7eb;    
}

body{
    color: black;
    background-color: var(--neutral-color);
}



body {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Signika Negative', sans-serif;
    
    margin: 0px;
}

hr{
    margin: 1rem 0rem;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;

}

/* linkss */
.link {

text-decoration: none;
padding: 0.5rem 1rem;
}

.link-primary {
    background-color:var(--primary-color);
    border-radius: 1rem ;
    color: white;
}

.link-secondary
{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


/* lists */


.list-non-bullet{
    list-style: none;
} 

.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
}

/* navigation */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}


.navigation .link {
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

/* header */

.hero{
    padding: 2rem;
    padding-top: 2rem;
}

.hero .hero-img{
max-width: 350px;
display: block;
margin: auto;
}

.hero .hero-heading{
    padding top: 1rem;
    text-align: center;
    color: black;
}

.hero .hero-heading .inverted{
    color: var(--primary-color)
}

/* section */

.section{
    padding: 1rem;
}

.section h1{
    text-align: center;
}
.ow {

background-color: var(--gray-color)
}

.list-non-bullet-container{
    list-style: none;
}
/* footer */

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer .footer-header{
    font-weight: bolder;
    padding-top: 1rem;
    font-style: ;
    font-size: large;
}

.footer .link{
    color: white;
}

.dummy-one{
    text-align: center;
    color:black;
}

.small-one{
    text-align: center;
}

.dummy-two{
text-align: center;
color: black;;
}


/* .footer .li .list-item-inline{
text-align: center;
} */

